<h1>Artists:</h1>

<ul>
<% @artists.each do |artist| %>
  <li>
    <strong><%= link_to artist.name, artist_path(artist.id) %></strong>
    <%= link_to "[Add Photo]", edit_artist_path(artist) %>


  <h4>Photo:</h4>
    <% artist.photos.each do |photo| %>
    <%= image_tag photo.image.thumbnail %>
    <hr>
    <% end %>

  </li>
<% end %>
</ul>
