<h1>Artists:</h1>

<ul>
<% @artists.each do |artist| %>
  <li>
    <strong><%= link_to artist.name, artist_path(artist.id) %></strong>
    <p class="photo_artist"><%= image_tag artist.image_url %></p>
  </li>
  <% end %>
</ul>
