<h1>Artists:</h1>

<ul>
<% @artists.each do |artist| %>
  <li>
    <strong><%= link_to artist.name, artist_path(artist.id) %></strong>

  <h4>Photo:</h4>
    <% artist.photos.each do |photo| %>
    <%= image_tag photo.image.thumbnail %> <br/>
    <%= link_to "[Add photo]", edit_artist_path(artist) %>
    <%= link_to "[Delete photo]", photo_path( photo.id ), class: "btn btn-default",
    method: :delete, data: { confirm: "Are you sure?" } %>
    <hr>
    <% end %>

  </li>
<% end %>
</ul>
