@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url("http://res.cloudinary.com/irinaovdii/image/upload/v1516512380/stena_tlzrt7.jpg");
  background-size: 100%;
  font-family: monospace;
  font-size: 15px;
}
.song_name {
  font-size: 18px;
}
