@import "colors";

a.button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: inline-block;
  border: 1px $subdued-color solid;
  border-radius: 4px;
  padding: 4px 6px;
  text-decoration: none;
  &:hover {
    background-color: $subdued-color;
    text-shadow: 0;
    text-decoration: underline;
  }
}
